:root {
    --red1: #9F0000;
    --red2: #590000;
    --gray1: #4d4d4d;
    --gray2: #acacac;
    --white1: #f6f6f6;
    --black1: hsla(0, 0%, 0%, 0.986);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white1);
}

header {
    background-color: var(--red1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid var(--white1);
}

.logo {
    width: 150px;
    margin-left: 20px;
}

.logo img {
    width: 100%;
}

.busca {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
    border-radius: 28px;
    background: var(--white1);
}

.busca input {
    font-size: 18px;
    color: black;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 500px;
}

.busca i {
    color: var(--gray1);
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin-right: 15px;
}

.menu li {
    margin: 0 20px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.menu ul li a:hover {
    color: var(--red2);
}

.menu i {
    font-size: 30px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -550px;
    width: 550px;
    height: 100%;
    background-color: #111;
    color: white;
    padding: 20px;
    box-shadow: -4px 0 12px rgba(0,0,0,0.4);
    transition: right 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
}

.sidebar.active {
    right: 0;
}

.close-btn {
    font-size: 50px;
    cursor: pointer;
    margin-bottom: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 900;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

.sidebar h2 {
    font-size: 60px;
}

.sidebar p {
    font-size: 23px;
    text-align: justify;
}

.conteudo {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.conteudo img {
    width: 100%;
    display: block;
}

.texto {
    position: absolute;
    color: white;
    top: 25%;
    left: 60px;
    transform: translateY(-30%);
    max-width: 900px;
    padding: 20px;
    font-size: 25px;
    text-align: justify;
}

.texto h2 {
    margin-bottom: 20px;
}

.lista-filme-container {
    padding: 0 20px;
    margin-top: -150px;
}

.lista-filme-container h1 {
    margin-left: 30px;
    margin-bottom: -20px;
}

.lista-filme-wrapper {
    position: relative;
    overflow: hidden;
}

.lista-filme {
    display: flex;
    align-items: center;
    height: 300px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}

.lista-filme-item {
    margin-right: 30px;
}

.lista-filme-item:hover .lista-filme-img {
    transform: scale(1.2);
    margin: 0 30px;
}

.lista-filme-img {
    width: 420px;
    transition: all 0.5s ease-in-out;
    border-radius: 15px;
}

.arrow {
    font-size: 40px;
    color: white;
    position: absolute;
    top: 130px;
    right: 0;
    opacity: .8;
    cursor: pointer;
}

.area-quiz {
    background: var(--red1);
    width: 90%;
    max-width: 900px;
    margin: 100px auto 200px;
    padding: 30px;
    border-radius: 10px;
}

.area-quiz h1 {
    font-weight: 25px;
    color: white;
    border-bottom: 1px solid var(--red2);
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0;

}

.area-quiz h2 {
    font-size: 23px;
    color: white;
    font-weight: 20px;
    margin-bottom: 20px;
}

.btn {
    background: white;
    color: black;
    font-weight: 500;
    font-size: 17px;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]) {
    background-color: var(--red2);
    color: white;
}

.btn:disabled {
    cursor: no-drop;
}

#proximo {
    background-color: white;
    color: black;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correto {
    background: rgb(66, 167, 66);
}

.meio-correto {
    background: rgb(239, 239, 84);
}

.incorreto {
    background: rgb(233, 68, 68);
}

footer {
    background-color: var(--red1);
    display: flex;
    color: var(--branco);
    height: 25vh;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

footer img {
    width: 200px;
}

footer h6 {
    font-size: 20px;
    margin-top: -10px;
}

footer .lista-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .lista-footer h2 {
    font-size: 25px;
    font-weight: 500;
}

footer .lista-footer ul {
    list-style: none;
}

footer .lista-footer ul li a {
    text-decoration: none;
    color: var(--branco);
    font-size: 17px;
}

footer .lista-footer ul li a:hover {
    text-decoration: underline;
    color: var(--rosa1);
}

footer .redesSociais {
    display: flex;
    gap: 20px;
    cursor: pointer;
    margin: 20px;
}

footer .redesSociais div i {
    font-size: 7vh;
    transition: all .5s;
}